<label>Filter By Department Name: <input type="text" name="department" [(ngModel)]="filterDepartment"></label>
<label>Filter By Name: <input type="text" name="department" [(ngModel)]="filterNames"></label>
<label>alphabetize: <input type="checkbox" name="alphabetize" [(ngModel)]="alphabetize"></label>

<label>First name: <input type="text" [(ngModel)]="formState.firstName"></label>
<label>Last name: <input type="text" [(ngModel)]="formState.lastName"></label>
<label>Department name: <input type="text" [(ngModel)]="formState.department"></label>
<label>Phone number: <input type="number" [(ngModel)]="formState.phoneNumber"></label>
<button [disabled]="buttonDisabled()" (click)="addEmployee(formState)">Add Employee</button>

<ng-container *ngFor="let employee of (state.addressBook | department: filterDepartment | name: filterNames | alphabetize: alphabetize); let i = index;">
	<button (click)="removeEmployee(i)">X</button>
	<pre>{{employee | json}}</pre>
</ng-container>